@import "fonts";

$colour1: #105B63;
$colour2: #FFFAD5;
$colour3: #E9C147;
$colour4: #DB9E36;
$colour5: #BD4932;

$background-colour: $colour2;
$text-colour: $colour1;
$hyperlink-colour: $colour5;
$hyperlink-hover-colour: $colour3;

body { font-family: "Balham kRB"; color: $text-colour; font-size: 1.2em; }

// #container { background-color: $background-colour; }
//
// aside {
// 	float: right;
// 	width: 25em;
// 	margin: 0 1em;
// 	}