/* FONTS
----------------------------------------------------------------------------------------*/
/*
Colwell
http://moorstation.org/typoasis/designers/lab/lab_colwell.htm
Foundry: Apostrophic Labs, http://moorstation.org/typoasis/designers/lab/
Contributors:
License: Freeware, http://en.wikipedia.org/wiki/Freeware
*/
@font-face {
  font-family: 'Colwell kRB';
  src: url("../fonts/colwell-kRB.eot?") format("eot"), url("../fonts/colwell-kRB.ttf") format("truetype"), url("../fonts/colwell-kRB.woff") format("woff"); }

/*
Nadia Serif
http://quersicht.ch/04_labor/04_ft_nadi.html
Foundry: Quersicht, http://quersicht.ch/
Contributors: Nadia Knechtle
License: Freeware, http://en.wikipedia.org/wiki/Freeware
*/
@font-face {
  font-family: 'Nadia Serif kRB';
  src: url("../fonts/nadia-serif-kRB.eot?") format("eot"), url("../fonts/nadia-serif-kRB.ttf") format("truetype"), url("../fonts/nadia-serif-kRB.woff") format("woff"); }

/*
Balham
*/
@font-face {
  font-family: 'Balham kRB';
  src: url("../fonts/balham-kRB.eot?") format("eot"), url("../fonts/balham-kRB.ttf") format("truetype"), url("../fonts/balham-kRB.woff") format("woff"); }
