/* KERNEST.COM WEB FONT CSS GENERATED FOR awesome */

/* 
Colwell 
http://moorstation.org/typoasis/designers/lab/lab_colwell.htm 
Foundry: Apostrophic Labs, http://moorstation.org/typoasis/designers/lab/ 
Contributors:  
License: Freeware, http://en.wikipedia.org/wiki/Freeware 
*/

@font-face {
	font-family: 'Colwell kRB';
	src: url('fonts/colwell-kRB.eot?') format('eot'), url('fonts/colwell-kRB.ttf') format('truetype'), url('fonts/colwell-kRB.woff') format('woff'); 
}

/* 
Nadia Serif 
http://quersicht.ch/04_labor/04_ft_nadi.html 
Foundry: Quersicht, http://quersicht.ch/ 
Contributors: Nadia Knechtle 
License: Freeware, http://en.wikipedia.org/wiki/Freeware 
*/

@font-face {
	font-family: 'Nadia Serif kRB';
	src: url('fonts/nadia-serif-kRB.eot?') format('eot'), url('fonts/nadia-serif-kRB.ttf') format('truetype'), url('fonts/nadia-serif-kRB.woff') format('woff'); 
}


/* 
Balham
*/

@font-face {
	font-family: 'Balham kRB';
	src: url('fonts/balham-kRB.eot?') format('eot'), url('fonts/balham-kRB.ttf') format('truetype'), url('fonts/balham-kRB.woff') format('woff'); 
}


body {
	font-family: 'Balham kRB';
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	margin: auto 350px auto 10px;
	background-color: #AAB69B;
	font-size: 36px;
	line-height: 135%;
	color: #E1EDD1;
	width: 100%;
	overflow-x: hidden;
}


h1 {
	color: #B47941;	
	font-family: 'Colwell kRB';
	font-size: 80px;
	font-style: normal;
	line-height: 100px;
	letter-spacing: 0;
	margin: 40px 40px -20px 20px;
	padding: 0 20px 0 0;
}

h2 {
	color: #E1EDD1;
	font-family: 'Balham kRB';	
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 72px;
	line-height: 110%;
	letter-spacing: 5px;	
	margin: 40px 40px 0 30px;
	padding: 0 20px 0 0;
}


h3, dt {
	color: #E1EDD1;	
	font-family: 'Balham kRB';
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 62px;
	letter-spacing: 0;
	text-align: left;
	margin: 5px 20px 0 30px;
	padding: 0 20px 5px 0;
}


h4 {
	color: #E1EDD1;
	font-family: 'Balham kRB';
	font-style: normal;	
	font-weight: normal;
	font-size: 40px;
	letter-spacing: -1px;	
	line-height: 60px;
	text-align: left;
	margin: 0 0 0 30px;	
	padding-left: 0;	
}

h5 {
	font-family: 'Balham kRB';
	font-style: normal;	
	font-weight: normal;
	font-size: 40px;
	letter-spacing: -1px;	
	line-height: 60px;
	text-align: left;
	margin: 0 0 0 40px;		
}

a {
	color: #9E906E;
	text-decoration: none;
}

a:hover {
	color: #B47941;
	text-decoration: none;
}

#overview {
	width: 280px;
	position: absolute;
	top: 0;
	right: 8px;
	padding: 15px;
	font-size: 14px;
	line-height: 150%;
	text-align: justify;
}

#overview p {
 padding: 0;
 margin: 0;
 font-size: 14px;
 line-height: 16px;
}

p {
	font-size: 26px;
	line-height: 125%;
	margin: 0 30px 20px 30px;
	padding: 0 20px 10px 0;
	text-align: left;	
	font-family: 'Nadia Serif kRB';
	font-style: normal;	
	font-weight: normal;		
}

p.legend {
	font-style: italic;
	padding-bottom: 0;
	text-transform: capitalize;
}

blockquote p:before { color: #78643A; content: '\201C';}
blockquote p:after { color: #78643A; content: '\201D'; }

blockquote {
	padding:0;
	color: #81B08D;
}

blockquote p {
	padding: 0;
	margin: 35px 25px 40px 0;	
}

blockquote, blockquote p {
	font-family: 'Balham kRB';
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: left;
	font-size: 48px;
	line-height:100%;	
}

blockquote p code {
	font-size: 48px;
}

em, a { 
	font-family: 'Colwell kRB';
	font-size: 105%;		
}

h2 a { 
	font-size: 95%;
	letter-spacing: -2px;	
}

pre {
	margin-left: 25px;
}

code a {
	text-transform: underline;
}

code, pre, code a {
	font-family: 'Balham kRB';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	white-space: normal;
	background-color: #78643A;
	color: #EDDEA7;
	padding: 0 3px;	
	border: 1px solid  #78643A;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5cpx;	
}

dt code {
	font-size: 60px;
}

#header {
	position: absolute;
	top: 230px;
	right: 20px;	
	margin: 0;
	padding: 0;
	width: 330px;
}

#header ol {
	font-family: 'Colwell kRB';
	font-size: 96px;
	line-height: 60px;	
	margin: 10px 0 0 30px;
	padding: 5px 0 5px 0px;	
	text-align: left;
	color: #78643A;
	list-style-type: none;	
}


#header ol li {
	font-family: 'Nadia Serif kRB';
	display: block;
	width: 100%;	
	margin: 7px 0;
	font-size: 14px;
	line-height: 16px;
	padding-left: 15px;
}

dt {
	margin-top: 20px;
	font-weight: bold;
}

dd {
	margin-bottom: 20px;
}

#header:hover ol li:hover a {
	color: #78643A;
	text-decoration: none;
}

blockquote ul {
	margin-top: 10px;
	margin-left: 0px;
}

ol {
	list-style-position: inside;
	margin: 20px 0 0 30px;
	padding: 0 20px 20px 0px;
	font-family: 'Colwell kRB';
}

ul {
	list-style-position: inside;	
	margin: 20px 0 0 60px;
	padding: 0 20px 20px 0px;
}

ul li {
	margin: 5px 5px 10px 5px;
	padding: 10px;
}

ol li {
	margin: 40px 0 5px 0px;
	padding-left: 0px;
	font-size: 120px;
}

ol li h3 {
	display: inline;	
}

ol li h3, ol li p {
	margin-left: 0px;
}


a#source_url {
	margin: 0 0 0 20px;
}


ol#links, ol#references_and_further_readings, ol#references_2 {
	margin: 0 0 0 45px;
}

ol#references_2 {
	list-style-type: upper-latin;
}

ol#links li, ol#references_and_further_readings li, ol#references_2 li, a#source_url {
	font-size: 16px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px;
}

a#source_url {
	margin: 0 0 0 45px;
}

table {
	margin: 40px;
}

td {
	vertical-align: top;
	padding-bottom: 10px;
	padding-right: 30px;	
}


sup:before {
	content: " ";
}

a sup {
	color: #9E906E;
}